* {
  margin: 0%;
  padding: 0%;
  font-style: none;
}
:root {
  --primary-color: #ffffff;
  --secondary-color: #f89f3a;
  --max-width: 1100px;
}
body {
  min-height: 100vh;
  font: normal 1rem/1.5 "Arial", sans-serif;
  background: var(--primary-color);
  color: rgb(0, 0, 0);
  overflow-x: hidden;
}

header {
  height: 80vh;
  display: flex;
  flex-direction: column;
  background-image: url("eventImg/bg2.jpg");
  background-attachment: fixed;
  color: aqua;
  justify-content: space-around;
  align-items: center;
}
.btn1 {
  color: #bb3e03;
  border: 2px solid #bb3e03;
  padding: 0.8em;
  border-radius: 1em;
  width: 4em;
  text-align: center;
  transition: all 1s step-start;
}
.btn1:hover {
  transform: scale(1.1);
  background-color: #f89f3a;
}
#Hmain {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#Himg {
  width: 100%;
}
/*//////////////*/
#Hnav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #bb3e03;
}

/* Navbar links */
#Hnav a {
  float: left;
  display: block;
  color: white;
  font-weight: 800;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #333;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
.next {
  width: 80px;
  position: fixed;
  top: 50%;
  right: 1px;
  transform: rotate(180deg);
  opacity: 0.2;
}
.pre {
  width: 80px;
  position: fixed;
  top: 50%;
  left: 1px;
  opacity: 0.2;
}
.arr:hover {
  opacity: 1;
}

/*/////////////////////////////////////////////////////////////The second section styles//////////////////////////////////////////////////////*/
.main_container {
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", sans-serif;
  background-color: rgb(248, 216, 204);
}
.text_containe_heading {
  font-size: 2.3rem;
  text-align: center;
}
.text_container {
  /*background-color: rgb(183, 193, 202);*/
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  padding: 40px;
}
/*.pitching_container{
    align-items: ;
    margin: 20px;8 */
/* } */
.icon_container {
  margin: 20px;
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: space-around;
}

.pitching_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nretworking_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.negotiation_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fund_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  padding-top: 20px;
  font-size: 22px;
  font-weight: bold;
}

/*////////////////////////////////////////////////////////////////TImeLine And Footer/////////////////////////////////////////////////////////////*/
#timeline h1 {
  font-size: 2.3rem;
  text-align: center;
}

#timeline ul {
  background: var(--primary-color);
  padding: 50px 0;
}

/* Create Line */
#timeline ul li {
  list-style: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: rgb(0, 0, 0);
}

/* Boxes */
#timeline ul li div {
  position: relative;
  bottom: -28px;
  width: 230px;
  height: 80px;
  padding: 1rem;
  background: var(--secondary-color);
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  border-radius: 20px;
}

/* Right Side */
#timeline ul li:nth-child(odd) div {
  left: 40px;
  transform: translate(200px, 0);
}

/* Left Side */
#timeline ul li:nth-child(even) div {
  left: -290px;
  transform: translate(-200px, 0);
}

/* Dots */
#timeline ul li:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 25px;
  height: 25px;
  background: inherit;
  transform: translateX(-50%);
  border-radius: 50%;
  transition: background 0.5s ease-in-out;
}

/* Arrows Base */
#timeline div:before {
  content: "";
  position: absolute;
  bottom: 30px;
  width: 0;
  height: 0;
  border-style: solid;
}

/* Right Side Arrows */
#timeline ul li:nth-child(odd) div:before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent var(--secondary-color) transparent transparent;
}

/* Left Side Arrows */
#timeline ul li:nth-child(even) div:before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent var(--secondary-color);
}

/* Show Boxes */
#timeline ul li.show div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

#timeline ul li.show:after {
  background: var(--secondary-color);
}

@media (max-width: 900px) {
  #timeline ul li div {
    width: 250px;
  }

  #timeline ul li:nth-child(even) div {
    left: -284px;
  }
}

@media (max-width: 600px) {
  #timeline ul li {
    margin-left: 20px;
  }

  #timeline ul li div {
    width: calc(100vw - 90px);
  }

  #timeline ul li:nth-child(even) div {
    left: 40px;
  }

  #timeline ul li:nth-child(even) div:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--secondary-color) transparent transparent;
  }
}

footer {
  height: 20vh;
  width: 100vw;
  margin-bottom: 0px;
  padding-top: 7vh;
  margin-top: 50px;
  background-color: #1f1f1f;
}
.copyright {
  font-size: 1.3rem;
  color: white;
  text-align: center;
}
